@model Tutorial.Model.Student
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    学生信息：
    姓名：@Model.stuFirstName   @Model.stuLastName 
    出生日期：(@Model.stuBirthDate.ToLongDateString())
    性别： @Model.stuGender
    <a asp-action="index">Back</a>
</body>
</html>
