@model Tutorial.Model.DTO.HomeDTO
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <ul>
            @foreach (var a in Model.Students)
            {
                <li>@a.Id - @a.Name (@a.Age)</li>       
            }
        </ul>
        
    </body>
</html>
