@model IEnumerable<Tutorial.Model.DTO.StudentInfoDTO>
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <ul>
            @foreach (var a in Model)
            {
            <li>@a.Id - @a.Name (@a.Age)</li>       
            }
        </ul>
        
    </body>
</html>
